{% extends 'layout.html.twig' %}
{% set adminMenu = true %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h2 class="text-center">{{ block('title') }}</h2>
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% if form_errors(clientForm.password) %}
        <div class="alert alert-danger">
            {{ form_errors(clientForm.password) }}
        </div>
    {% endif %}
    <div class="well">
        {{ form_start(clientForm, { 'attr': {'class': 'form-horizontal'} }) }}
        <div class="form-group">
            {{ form_label(clientForm.code_client, null, { 'label_attr':  {
                'class': 'col-sm-4 control-label'
            }}) }}

            {# code client#}
            <div class="col-sm-6">
                {{ form_errors(clientForm.code_client) }}
                {{ form_widget(clientForm.code_client, { 'attr':  {
                    'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(clientForm.nom_client, null, { 'label_attr':  {
                'class': 'col-sm-4 control-label'
            }}) }}
            {# nom client#}
            <div class="col-sm-6">
                {{ form_errors(clientForm.nom_client) }}
                {{ form_widget(clientForm.nom_client, { 'attr':  {
                    'class': 'form-control',
                    'rows': '8'
                }}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(clientForm.password, null, { 'label_attr':  {
                'class': 'col-sm-4 control-label'
            }}) }}
            {# mot de passe#}
            <div class="col-sm-6">
                {{ form_errors(clientForm.password) }}
                {{ form_widget(clientForm.password, { 'attr':  {
                    'class': 'form-control'
                }}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(clientForm.date_contract, null , {'label_attr':   {
                'class': 'col-sm-4 control-label'
            }} ) }}
            {# date de contract#}
            <div class = "col-sm-6">
                {{ form_errors(clientForm.date_contract) }}
                {{ form_widget(clientForm.date_contract, { 'attr':  {
                    'class': 'col-sm-4 form-control'
                }}) }}
            </div>

        </div>
        <div class="form-group">
            {{ form_label(clientForm.siren, null , {'label_attr':   {
                'class': 'col-sm-4 control-label'
            }} ) }}
            {# siren#}
            <div class = "col-sm-6">
                {{ form_errors(clientForm.siren) }}
                {{ form_widget(clientForm.siren, { 'attr':  {
                    'class': 'col-sm-4 form-control'
                }}) }}
            </div>

        </div>
        <div class="form-group">
            {{ form_label(clientForm.capital, null , {'label_attr':   {
                'class': 'col-sm-4 control-label'
            }} ) }}
            {#capital#}
            <div class = "col-sm-6">
                {{ form_errors(clientForm.capital) }}
                {{ form_widget(clientForm.capital, { 'attr':  {
                    'class': 'col-sm-4 form-control'
                }}) }}
            </div>



        </div>
        

        {# bouton submit#}
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-5">
            <a href="{{ path('admin') }}">
                <input type="button" class="btn btn-danger" value="Annuler" />
            </a>
                <input type="submit" class="btn btn-primary" value="Sauvegarder" />
            </div>
        </div>
        {{ form_end(clientForm) }}
    </div>
{% endblock %}
