{% extends "layout.html.twig" %}

{% block title %} Liste courrier {% endblock %}

{% block content %}

    <div class="container">
            <h1>Liste de courrier</h1>
            <hr />
                   {% if courriers is not empty %}

                <div class="table-responsive">
                    <table class="table table-hover table-condensed">
                        <thead>
                        <tr>
                            <th>Client</th>
                            <th>Date</th>
                            <th>Annotation</th>
                            <th>Type courrier</th>
                            <th>Fichier</th>
                            <th>Scan</th>  <!-- Actions column -->
                        </tr>
                        </thead>
                        {% for courrier in courriers %}
                           {#{{ dump(courriers) }}#}
                            <tr>
                                <td>{{ courrier['nom_client'] }}</td>
                                <td>{{ courrier['date_entre'] }}</td>
                                <td>{{ courrier['annotation'] }}</td>
                                <td>{{ courrier['libelle_courrier'] }}</td>
                                <td> {{ courrier['scan'] }} </td>
                                <td><a href="{{asset ('upload/Scans/'~courrier.scan) }}" class="btn btn-success btn-xs" title="Download" download>
                                    <span class="glyphicon glyphicon-cloud-download"></span></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}
    </div>

{% endblock %}