{% extends 'layout.html.twig' %}
{% set adminMenu = true %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h2 class="text-center">Nouvel utilisateur</h2>
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% if form_errors(userForm.password) %}
        <div class="alert alert-danger">
            {{ form_errors(userForm.password) }}
        </div>
    {% endif %}

    <div class="well">
        {{ form_start(userForm, { 'attr': {'class': 'form-horizontal'} }) }}
        <div class="form-group">
            {{ form_label(userForm.username, null, { 'label_attr':  {
                'class': 'col-sm-5 control-label'
            }}) }}
            <div class="col-sm-4">
                {{ form_errors(userForm.username) }}
                {{ form_widget(userForm.username, { 'attr':  {
                    'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(userForm.password, null, { 'label_attr':  {
                'class': 'col-sm-5 control-label'
            }}) }}
            <div class="col-sm-4">
                {{ form_widget(userForm.password, { 'attr':  {
                    'class': 'form-control'
                }}) }}
            </div>
        </div>
            <div class="form-group">
            {{ form_label(userForm.roles, null, { 'label_attr':  {
                'class': 'col-sm-5 control-label'
            }}) }}
            <div class="col-sm-2">
                {{ form_errors(userForm.roles) }}
                {{ form_widget(userForm.roles, { 'attr':  {
                    'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-3">
            <a href="{{ path('admin') }}">
                <input type="button" class="btn btn-danger" value="Annuler" />
            </a>
                <input type="submit" class="btn btn-primary" value="Sauvegarder" />
            </div>
        </div>
        {{ form_end(userForm) }}
    </div>
{% endblock %}
